In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlalchemy
from tqdm import tqdm
%matplotlib inline
import networkx as nx
import re
import numpy as np

In [2]:
engine = sqlalchemy.create_engine('sqlite:////Users/briansrebrenik/DSCourseMaterials/projects/finalProject/tweetdatabase.db')
connection = engine.connect()

In [3]:
verified_tweets = pd.read_sql_table('verified_tweets', connection)

In [4]:
events= pd.read_csv('/Users/briansrebrenik/DSCourseMaterials/projects/finalProject/twitterData/cred_event_TurkRatings.data',
                   delimiter = '\t', error_bad_lines=False)

In [5]:
events.Cred_Ratings = events.Cred_Ratings.apply(lambda x: [int(i) for i in re.findall('(-?\d)', x)])

In [6]:
events['avg_rating'] = [np.average(x) for x in events.Cred_Ratings]

In [7]:
events['median_rating'] = [np.median(x) for x in events.Cred_Ratings]

In [8]:
events['more_than_half_less_than_2'] = [(x.count(1) + x.count(0) + x.count(-1) + x.count(-2)) >= 15 for x in events.Cred_Ratings]

In [9]:
events.head()

,topic_key,topic_terms,Cred_Ratings,Reasons,avg_rating,median_rating,more_than_half_less_than_2
0,everything_royals_rain-20141015_161647-2014101...,"[u'everything', u'royals', u'rain']","[2, 1, 0, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 0, 1, ...","['Game suspended due to rain', 'It is true tha...",1.333333,2.0,False
1,host_patrick_neil-20141015_161647-20141015_172214,"[u'host', u'patrick', u'neil']","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",['Neil Patrick Harris will host the 2015 Oscar...,2.000000,2.0,False
2,royals_game_series-20141015_203526-20141015_21...,"[u'royals', u'game', u'series']","[2, 1, 2, 2, 2, 0, 2, 2, 1, 2, 2, 2, 2, 1, 2, ...",['The Royals did win last night and are indeed...,1.833333,2.0,False
3,giants_game_win-20141015_230140-20141016_000502,"[u'giants', u'game', u'win']","[2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, ...","['They did win the game.', 'Major news sources...",1.900000,2.0,False
4,october_ebola_house-20141015_230140-20141016_0...,"[u'october', u'ebola', u'house']","[1, 2, 2, 1, 2, 1, 1, 2, 2, 1, 0, 2, 1, 2, 1, ...","['Accurate news story, some opinion.', 'USA To...",1.066667,1.0,True

In [10]:
test = verified_tweets.groupby('user').count()

In [11]:
test.drop(columns=['tweet_id', 'topic_id', 'date'], inplace=True)
test.rename(columns={'avg_score': 'tweet_count'}, inplace=True)
test.head()

                tweet_count
user
01Distribution            1
01champs                  4
01net                     3
07mariana                 3
09friendy                 1

In [12]:
test2 = verified_tweets[verified_tweets.avg_score <= 1].groupby('user').count()

In [13]:
test2.drop(columns=['tweet_id', 'topic_id', 'date'], inplace=True)
test2.rename(columns={'avg_score': 'tweet_count_below_1'}, inplace=True)

In [14]:
scores = test.join(test2)
scores.head()

                tweet_count  tweet_count_below_1
user
01Distribution            1                  NaN
01champs                  4                  NaN
01net                     3                  NaN
07mariana                 3                  NaN
09friendy                 1                  NaN

In [15]:
scores.tweet_count_below_1.fillna(int(0), inplace=True)

In [16]:
scores['percentage_of_tweets_below_1'] = scores.tweet_count_below_1 / scores.tweet_count

In [17]:
more_than_25percent_below_1 = set(list(scores[scores.percentage_of_tweets_below_1 > .25]))

In [18]:
scores['more_than_25percent_below_1'] = [x in more_than_25percent_below_1 for x in scores.index]

In [19]:
scores.head()

,tweet_count,tweet_count_below_1,percentage_of_tweets_below_1,more_than_25percent_below_1
user,,,,
01Distribution,1,0.0,0.0,False
01champs,4,0.0,0.0,False
01net,3,0.0,0.0,False
07mariana,3,0.0,0.0,False
09friendy,1,0.0,0.0,False

In [20]:
verified_users = pd.read_sql_table('verified_users', connection)

In [21]:
verified_users.head()

,user,user_id,node_id,friends,followers,language,url,location,description,created_at,name
0,LilianPacce,15736267,28835,658,639276,en,http://t.co/v44qPcZZnz,São Paulo,"Editora de moda, apresentadora, jornalista e e...",2008-08-05 14:06:35,LilianPacce
1,FenitN,313525999,204136,1198,3160,en,https://t.co/c8LNamHxLp,"Washington, DC",I cover D.C. government for @WashingtonPost. S...,2011-06-08 19:57:08,Fenit Nirappil
2,eringilfoy,34177979,249077,362,78126,en,https://t.co/AvxYBz13qS,"Los Angeles, CA",instagram: @eringilfoy snapchat: @erin_gilfoy ...,2009-04-22 04:09:53,erin gilfoy
3,stuartdredge,1774511,111815,1295,22945,en,https://t.co/SrR9EhvTO4,Essex,Scribbler: Music Ally / Observer / The Week Ju...,2007-03-21 17:42:25,Stuart Dredge
4,hmvtweets,17284200,36410,2115,124810,en,https://t.co/yEAVnZrvqQ,UK,home of entertainment since 1921. Rewards: @pu...,2008-11-10 09:41:22,hmv

In [22]:
avg_tweet_score = verified_tweets.groupby('user').mean()

In [23]:
avg_tweet_score = avg_tweet_score[['avg_score']]

In [24]:
avg_tweet_score = avg_tweet_score.join(scores)

In [25]:
avg_tweet_score['more_than_1_tweet_below_1'] = [x > 1.5 for x in avg_tweet_score.tweet_count_below_1]

In [26]:
avg_tweet_score.drop(columns=['more_than_25percent_below_1', 'percentage_of_tweets_below_1'], inplace=True)

In [27]:
avg_tweet_score['percentage_below_1'] = avg_tweet_score.tweet_count_below_1 / avg_tweet_score.tweet_count * 100

In [28]:
avg_tweet_score['more_than_5_percent_fake'] = avg_tweet_score['percentage_below_1'] > 5

In [29]:
percentile25= np.percentile(avg_tweet_score.avg_score, .25)
percentile50= np.percentile(avg_tweet_score.avg_score, .50)
print(percentile25, percentile50)

0.9666666666666667 1.0333333333333334

In [30]:
avg_tweet_score['below_25th_percentile'] = avg_tweet_score.avg_score <= percentile25

In [31]:
avg_tweet_score['below_50th_percentile'] = avg_tweet_score.avg_score <= percentile50

In [32]:
node_table = verified_users.set_index('user').join(avg_tweet_score)

In [33]:
node_table.head()

,user_id,node_id,friends,followers,language,url,location,description,created_at,name,avg_score,tweet_count,tweet_count_below_1,more_than_1_tweet_below_1,percentage_below_1,more_than_5_percent_fake,below_25th_percentile,below_50th_percentile
user,,,,,,,,,,,,,,,,,,
LilianPacce,15736267,28835,658,639276,en,http://t.co/v44qPcZZnz,São Paulo,"Editora de moda, apresentadora, jornalista e e...",2008-08-05 14:06:35,LilianPacce,1.866667,4.0,0.0,False,0.0,False,False,False
FenitN,313525999,204136,1198,3160,en,https://t.co/c8LNamHxLp,"Washington, DC",I cover D.C. government for @WashingtonPost. S...,2011-06-08 19:57:08,Fenit Nirappil,1.755556,3.0,0.0,False,0.0,False,False,False
eringilfoy,34177979,249077,362,78126,en,https://t.co/AvxYBz13qS,"Los Angeles, CA",instagram: @eringilfoy snapchat: @erin_gilfoy ...,2009-04-22 04:09:53,erin gilfoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stuartdredge,1774511,111815,1295,22945,en,https://t.co/SrR9EhvTO4,Essex,Scribbler: Music Ally / Observer / The Week Ju...,2007-03-21 17:42:25,Stuart Dredge,1.693333,10.0,0.0,False,0.0,False,False,False
hmvtweets,17284200,36410,2115,124810,en,https://t.co/yEAVnZrvqQ,UK,home of entertainment since 1921. Rewards: @pu...,2008-11-10 09:41:22,hmv,1.750914,44.0,0.0,False,0.0,False,False,False

In [34]:
node_table.reset_index(inplace=True)
node_table.set_index('user_id', inplace=True)
node_table.head()

,user,node_id,friends,followers,language,url,location,description,created_at,name,avg_score,tweet_count,tweet_count_below_1,more_than_1_tweet_below_1,percentage_below_1,more_than_5_percent_fake,below_25th_percentile,below_50th_percentile
user_id,,,,,,,,,,,,,,,,,,
15736267,LilianPacce,28835,658,639276,en,http://t.co/v44qPcZZnz,São Paulo,"Editora de moda, apresentadora, jornalista e e...",2008-08-05 14:06:35,LilianPacce,1.866667,4.0,0.0,False,0.0,False,False,False
313525999,FenitN,204136,1198,3160,en,https://t.co/c8LNamHxLp,"Washington, DC",I cover D.C. government for @WashingtonPost. S...,2011-06-08 19:57:08,Fenit Nirappil,1.755556,3.0,0.0,False,0.0,False,False,False
34177979,eringilfoy,249077,362,78126,en,https://t.co/AvxYBz13qS,"Los Angeles, CA",instagram: @eringilfoy snapchat: @erin_gilfoy ...,2009-04-22 04:09:53,erin gilfoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1774511,stuartdredge,111815,1295,22945,en,https://t.co/SrR9EhvTO4,Essex,Scribbler: Music Ally / Observer / The Week Ju...,2007-03-21 17:42:25,Stuart Dredge,1.693333,10.0,0.0,False,0.0,False,False,False
17284200,hmvtweets,36410,2115,124810,en,https://t.co/yEAVnZrvqQ,UK,home of entertainment since 1921. Rewards: @pu...,2008-11-10 09:41:22,hmv,1.750914,44.0,0.0,False,0.0,False,False,False

In [35]:
node_table.reset_index(inplace=True)
node_table.head()

,user_id,user,node_id,friends,followers,language,url,location,description,created_at,name,avg_score,tweet_count,tweet_count_below_1,more_than_1_tweet_below_1,percentage_below_1,more_than_5_percent_fake,below_25th_percentile,below_50th_percentile
0,15736267,LilianPacce,28835,658,639276,en,http://t.co/v44qPcZZnz,São Paulo,"Editora de moda, apresentadora, jornalista e e...",2008-08-05 14:06:35,LilianPacce,1.866667,4.0,0.0,False,0.0,False,False,False
1,313525999,FenitN,204136,1198,3160,en,https://t.co/c8LNamHxLp,"Washington, DC",I cover D.C. government for @WashingtonPost. S...,2011-06-08 19:57:08,Fenit Nirappil,1.755556,3.0,0.0,False,0.0,False,False,False
2,34177979,eringilfoy,249077,362,78126,en,https://t.co/AvxYBz13qS,"Los Angeles, CA",instagram: @eringilfoy snapchat: @erin_gilfoy ...,2009-04-22 04:09:53,erin gilfoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1774511,stuartdredge,111815,1295,22945,en,https://t.co/SrR9EhvTO4,Essex,Scribbler: Music Ally / Observer / The Week Ju...,2007-03-21 17:42:25,Stuart Dredge,1.693333,10.0,0.0,False,0.0,False,False,False
4,17284200,hmvtweets,36410,2115,124810,en,https://t.co/yEAVnZrvqQ,UK,home of entertainment since 1921. Rewards: @pu...,2008-11-10 09:41:22,hmv,1.750914,44.0,0.0,False,0.0,False,False,False

In [45]:
node_table.url.fillna(value='NA', inplace=True)
node_table.location.fillna(value='NA', inplace=True)
node_table.description.fillna(value='NA', inplace=True)
node_table.name.fillna(value='NA', inplace=True)
node_table.avg_score.fillna(value=0, inplace=True)
node_table.more_than_5_percent_fake.fillna(value='notweets', inplace=True)
node_table.below_25th_percentile.fillna(value='NA', inplace=True)
node_table.below_50th_percentile.fillna(value='NA', inplace=True)
node_table.below_25th_percentile = node_table.below_25th_percentile.astype(str)
node_table.below_50th_percentile = node_table.below_50th_percentile.astype(str)
node_table.more_than_5_percent_fake = node_table.more_than_5_percent_fake.astype(str)
#only include below code for creating gexf file
# for column in ['user', 'language', 'url', 'location', 'description', 'name', 'below_25th_percentile', 'below_50th_percentile', 'more_than_5_percent_fake']:
#     node_table[column] = node_table[column].astype(str)
#     node_table[column] = node_table[column].apply(lambda x: x.encode('ascii', errors='ignore'))
#     node_table[column] = node_table[column].astype(str)
# node_table.head()

In [39]:
import csv
edge_list = []
with open('twitternetworkedges.csv', 'r') as f:
    data = csv.reader(f, delimiter=",", quotechar='"')
    next(data) # skips header row
    for row in data:
            edge_list.append(row)

In [40]:
edge_list = [(int(x[0]), int(x[1])) for x in edge_list]

In [41]:
G = nx.DiGraph()

In [42]:
for i in tqdm(range(len(node_table))):
    G.add_node(int(node_table.node_id.iloc[i]), user=node_table.user.iloc[i], user_id=int(node_table.user_id.iloc[i]), friends=int(node_table.friends.iloc[i]),
              followers=int(node_table.followers.iloc[i]), language=node_table.language.iloc[i], url=node_table.url.iloc[i],
              location=node_table.location.iloc[i], description=node_table.description.iloc[i], 
              name=node_table.name.iloc[i], avg_score=float(node_table.avg_score.iloc[i]),
              below_25th_percentile=node_table.below_25th_percentile.iloc[i],
              below_50th_percentile=node_table.below_50th_percentile.iloc[i], more_than_5_percent_fake=node_table.more_than_5_percent_fake.iloc[i])

100%|██████████| 262803/262803 [01:12<00:00, 3608.91it/s]

In [43]:
G.add_edges_from(edge_list)

In [44]:
nx.write_gexf(G, 'twitter_network.gexf')

In [120]:
from neo4j import Driver

In [317]:
driver = Driver(uri='bolt://localhost:7687', auth=('neo4j', 'password'))

In [23]:
def add_nodes(driver):
    for i in tqdm(range(len(node_table))):
        test1 = node_table.node_id.iloc[i]
        test2 = node_table.user.iloc[i]
        test3 = node_table.friends.iloc[i]
        test4 = node_table.followers.iloc[i]
        test5 = node_table.avg_score.iloc[i]
        test6 = node_table.below_25th_percentile.iloc[i]
        test7 = node_table.below_50th_percentile.iloc[i]
        statement = "CREATE (:User { node_id: %s, user: '%s', friends: %s, followers: %s, avg_score: %s, below_25th_percentile: '%s', below_50th_percentile: '%s' })" % (test1, test2, test3, test4, test5, test6, test7)
        with driver.session() as session:
            session.run(statement)

In [24]:
add_nodes(driver)

100%|██████████| 262803/262803 [18:34<00:00, 235.84it/s]

In [25]:
with driver.session() as session:
    session.run('CREATE INDEX ON :User(node_id)')

In [26]:
def add_edges(driver):
    for i in tqdm(range(len(edge_list))):
        node1 = edge_list[i][0]
        node2 = edge_list[i][1]
        statement = "MATCH (a:User {node_id: %s}), (b:User {node_id: %s}) CREATE (a)-[r:Following]->(b)" % (node1, node2)
        with driver.session() as session:
            session.run(statement)

In [27]:
add_edges(driver)

100%|██████████| 5785629/5785629 [7:58:46<00:00, 201.40it/s]

In [130]:
def add_below_1_attribute(driver):
    for i in tqdm(range(len(node_table))):
        node_id = node_table.node_id.iloc[i]
        below_1 = node_table.tweet_below_1.iloc[i]
        statement = "MATCH (a:User {node_id: %s}) SET a.tweet_below_1 = %s" % (node_id, below_1)
        with driver.session() as session:
            session.run(statement)

In [131]:
add_below_1_attribute(driver)

100%|██████████| 262803/262803 [19:36<00:00, 223.47it/s]

In [346]:
real_source = node_table[node_table.more_than_5_percent_fake == "False"].node_id
fake_source = node_table[node_table.more_than_5_percent_fake == 'True'].node_id
no_tweets = node_table[node_table.more_than_5_percent_fake == 'notweets'].node_id

In [347]:
real_source = set(list(real_source))
fake_source = set(list(fake_source))
no_tweets = set(list(no_tweets))
print(len(real_source), len(fake_source), len(no_tweets))

66621 2404 193778

In [348]:
def fix_labels(driver):
    for i in tqdm(range(len(node_table))):
        node_id = node_table.node_id.iloc[i]
        if node_id in real_source:
            statement = "MATCH (a:User {node_id: %s}) SET a :RealSource" % (node_id)
            with driver.session() as session:
                session.run(statement)
        elif node_id in fake_source:
            statement = "MATCH (a:User {node_id: %s}) SET a :FakeSource" % (node_id)
            with driver.session() as session:
                session.run(statement)
        else:
            statement = "MATCH (a:User {node_id: %s}) SET a :NoTweets" % (node_id)
            with driver.session() as session:
                session.run(statement)

In [349]:
fix_labels(driver)

100%|██████████| 262803/262803 [17:19<00:00, 261.91it/s]